#pedigree_table {
	margin-top: 25px;
}

#pedigree_tabe .table-bordered th, .table-bordered td 
{
	vertical-align: middle;
}

#pedigree_tabe .table-bordered th, .table-bordered td > p {
	font-size: 10px;
}

#pedigree_table table-sm th, table-sm td {
	padding: 0!important;
}
